{% extends 'base.html.twig' %}

{% block body %}
    <div class="rs-slider main-home">
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="1" data-margin="0" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="1" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="1" data-md-device-nav="true" data-md-device-dots="false">
            <div class="slider-content slide1 slider-overlay">
                <div class="container">
                    <div class="content-part">
                        <div class="sl-sub-title wow bounceInLeft" data-wow-delay="300ms" data-wow-duration="2000ms">Vous êtes en famille?</div>
                        <h1 class="sl-title wow fadeInRight" data-wow-delay="600ms" data-wow-duration="2000ms">Souhaitez-vous un accompagnement pour votre enfant?</h1>
                        <div class="sl-btn wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2000ms">
                            <a class="readon orange-btn main-home" href="#">Apprendre</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-content slide2">
                <div class="container">
                    <div class="content-part">
                        <div class="sl-sub-title wow bounceInLeft" data-wow-delay="300ms" data-wow-duration="2000ms">Soutien scolaire et accompagnement personnalisé</div>
                        <h1 class="sl-title wow fadeInRight" data-wow-delay="600ms" data-wow-duration="2000ms">Ensemble, accompagnons les progrès et la scolarité de votre enfant</h1>
                        <div class="sl-btn wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2000ms">
                            <a class="readon orange-btn main-home" href="#">Apprendre</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rs-degree style1 modify gray-bg pt-100 pb-70 md-pt-70 md-pb-40">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="sec-title wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                        <div class="sub-title primary">Nos soutiens</div>
                        <h2 class="title mb-0">Scolaires & spécialisés</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="degree-wrap">
                        <img src="{{ absolute_url(asset('assets/images/soutien/01-primaire_soutien.jpg')) }}" alt="">
                        <div class="title-part">
                            <h4 class="title">Primaire</h4>
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Primaire</a></h4>
                            <p class="desc">Les premières années d’apprentissage de l’élève sont déterminantes et...

                            <div class="btn-part">
                                <a href="#">Voir détails</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="degree-wrap">
                        <img src="{{ absolute_url(asset('assets/images/soutien/02-college_soutien.jpg')) }}" alt="">
                        <div class="title-part">
                            <h4 class="title">Collège</h4>
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Collège</a></h4>
                            <p class="desc">Nouveau cadre, nouvelle organisation, nouvelles disciplines... les années collèges sont riches  en...</p>
                            <div class="btn-part">
                                <a href="#">Voir détails</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="degree-wrap">
                        <img src="{{ absolute_url(asset('assets/images/soutien/03-lycee_soutien.jpg')) }}" alt="">
                        <div class="title-part">
                            <h4 class="title">Lycée</h4>
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Lycée</a></h4>
                            <p class="desc">Dès la 2nde, les élèves doivent être capables d'absorder une masse importante de travail dans... </p>
                            <div class="btn-part">
                                <a href="#">Voir détails</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="degree-wrap">
                        <img src="{{ absolute_url(asset('assets/images/soutien/04-superieur_soutien.jpg')) }}" alt="">
                        <div class="title-part">
                            <h4 class="title">Supérieur</h4>
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Supérieur</a></h4>
                            <p class="desc">Quelle que soit la filière d'études (prépa, licence, médecine, BTS...), le 1er trimestre dans le supérieur est... </p>
                            <div class="btn-part">
                                <a href="#">Voir détails</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="degree-wrap">
                        <img src="{{ absolute_url(asset('assets/images/soutien/05-specialise_soutien.jpg')) }}" alt="">
                        <div class="title-part">
                            <h4 class="title">Spécialisés</h4>
                        </div>
                        <div class="content-part">
                            <h4 class="title"><a href="#">Spécialisé</a></h4>
                            <p class="desc"><strong>Monprofchezmoi</strong> est spécialisée dans l'aide scolaire pour les élèves aux besoins spécifiques...</p>
                            <div class="btn-part">
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rs-cta main-home">
        <div class="partition-bg-wrap">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-6"></div>
                    <div class="col-lg-6 pl-70 md-pl-15">
                        <div class="sec-title3 mb-40">
                            <h2 class="title white-color mb-16">Pourquoi nous choisir ?</h2>
                            <div class="desc white-color pr-100 md-pr-0">
                                Quels que soient vos objectifs ou votre niveau, les cours de soutien <strong>Monprofchezmoi</strong>
                                offrent à l'élève un enseignement totalement personnalisé afin que chacun puisse avancer à son rythme.
                            </div>
                        </div>
                        <div claDEGREEss="btn-part">
                            <a class="readon orange-btn transparent" href="#">S'inscrire</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rs-faq-part style1 orange-color pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 padding-0">
                    <div class=" main-part">
                        <div class="title mb-40 md-mb-15">
                            <h2 class="text-part">Les adultes</h2>
                        </div>
                        <div class="faq-content">
                            <div id="accordion" class="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseOne">Voulez-vous apprendre une langue étrangères ?</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            Aujourd'hui, la maîtrise d'une ou plusieurs langues étrangères est devenue indispensable, pour les entreprises comme pour les individus
                                            <em><a href="#">Lire suite</a></em>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">

                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">Souhaitez-vous retrouver la maîtrise d'une matière?</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            Que l'on ait 30, 40, 50 et même 60ans - les seniors ne sont pas excluts de l'apprentissage-, de nombreuses raisons peuvent pousser chaque apprenant
                                            à prendre des cours individuels pour apprendre de nouvelles compétences.
                                            <br> <em><a href="#">Lire suite</a></em>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">

                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false">Souhaitez-vous devenir de meilleurs orateurs?</a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                                        <div class="card-body">
                                            <strong>Monprofchezmoi</strong> vous accompagne dans l'apprentissage des techniques de Prise de parole en public sous toutes ses formes
                                            <br> <em><a href="#">Lire suite</a></em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 padding-0">
                    <div class="img-part media-icon orange-color">
                        <a class="popup-videos" href="https://www.youtube.com/watch?v=atMUy_bPoQI">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ parent() }} - Maquette{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .rs-slider.main-home .slider-content.slide1 {
            background: url({{ absolute_url(asset('assets/images/slide/01_slide.jpg')) }});
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: rgba(0, 0, 0, 1);
        }
        .rs-slider.main-home .slider-content.slide2 {
            background: url({{ absolute_url(asset('assets/images/slide/02_slide.jpg')) }});
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .rs-cta.main-home .partition-bg-wrap:after {
            background: url({{ absolute_url(asset('assets/images/home/pourquoi_01.jpg')) }});
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .rs-cta.main-home .partition-bg-wrap:before {
            background: url({{ absolute_url(asset('assets/images/home/pourquoi_02.jpg')) }});
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            right: 0;
        }
    </style>
{% endblock %}

